.user{
    flex: 4;
    padding: 20px;
}
.userTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userAddButton {
    width: 110px;
    padding: 10px;
    background-color: #0fff0f;
    color: #fff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.userContainer {
    display:  flex;
}
.userShow  {
    flex: 1;
    box-shadow: 0px 0px 12x -10px rgba(0,0,0,0.75);
    -webkit-box-shadow:0px 0px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -10px rgba(0,0,0,0.75);
    padding: 20px;
}
.userUpdate {
    flex: 2;
    box-shadow: 0px 0px 12x -10px rgba(0,0,0,0.75);
    -webkit-box-shadow:0px 0px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -10px rgba(0,0,0,0.75);
    padding: 20px;
    margin-left: 20px;
}
.userShowImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.userShowTop {
    display: flex;   
    align-items: center;
}
.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}
.userShowUsername {
    font-weight: 600;
}
.userShowUserTitle {
    font-weight: 300;
}
.userShowBottom{
    margin: 20px;
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.userShowIcon {
    font-size: 16px !important;
}
.userShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(163, 162, 162); 
}


.userShowInfoTitle {
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;  
}
.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.userUpdateItem >label {
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput {
    border: none !important;
    width: 250px;  
    border-bottom: 1px solid gray !important;
    height: 30px;
    background-color: none !important ;
}
.userUpdateRight {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.userUpdateUpload {
   display: flex;
   align-items: center; 
}
.userUpdateUpImg {
     width: 100px;
     height:100px;
     border-radius: 10px;
     object-fit: cover;
     margin-right: 20px;
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px; 
    cursor: pointer;
    background-color: rgb(135, 135, 216);
    color: white;
}